<div class="container-xxl px-md-5 bg-white shadow-lg">

  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <img src="/public/images/logo.png" width="229" height="68" alt="Tell Health">
      </a>
  
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/dashboard" class="nav-link px-2 link-secondary">My profile</a></li>
        <li><a href="/immunizations" class="nav-link px-2 link-secondary">My immunizations</a></li>
        <li><a href="/allergies" class="nav-link px-2 link-secondary">My allergies</a></li>
        <li><a href="/conditions" class="nav-link px-2 link-secondary">My conditions</a></li>
        <li><a href="/orders" class="nav-link px-2 link-secondary">My medication orders</a></li>
      </ul>
    </header>