<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Tell Health</title>
    <link href="/public/style.css" rel="stylesheet" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>

  <body> 
    <div class="content">
      <div class="content-bottom">
        <img class="img-tellhealth" src="/public/logo.png" />
        <a class="btn" href= '/auth'>SIGN IN</a>
      </div>
    </div>
  </body>
</html>