img {
  max-width: 100%;
}

h2 {
  font-size: 1.6rem;
}


.wrapper {
  padding: 0 1rem;
}

.information {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(360px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  grid-gap: 2rem;
}

.information__card {
  text-decoration: none;
  color: #080808;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 5px 0px #a5a5a5;
  border-radius: 10px;
}


.information-single {
  background-color: #fff;
  max-width: 1300px;
  margin: 0 auto;
  padding: 2rem;
}

.btn {
  text-decoration: none;
  display: block;
  width: 80px;
  height: 40px;
  line-height: 38px;
  padding-top: 2px;
  border-radius: 8px;
  color: white;
  background: #405DD6;;
  margin: 0 auto;
  border: none;
  font-size: 14px;
  justify-content: center;
  font-family: Inter;
}

.btn:hover{
  background: white;
  color: #405DD6;
  border-color: #405DD6; 
 }

body{
  font-family: Inter;
  margin-top:20px;
  color: #1a202c;
  text-align: left;
  background-color: #e2e8f0;    
}
.main-body {
  padding: 15px;
}

.information__card  .icon {
  padding: 10px 0px;
  background-color: #fff;
  margin: -35px auto 20px;
  width: 50px !important;
  height: 50px !important;
}
.information__card .icon i {
  color: #405DD6;
  font-size: 0px;
  margin: 0 auto;
  display: table;
}

.information__card:hover {
-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16), 0 3px 3px rgba(0, 0, 0, 0.23);
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16), 0 3px 3px rgba(0, 0, 0, 0.23);
}

.information__card  p {
  font-size: 15px;
  line-height: 23px;
  color:#666666;
  text-align: center;
}

.information__card  h6 {
  text-transform: uppercase;
  text-align: center;
  color: #405DD6;
  font-weight: 200;
}